.bao
  .bao__main
    .bao__main-wrapper
      .bao__main-descr
        .bao__main-descr-logo
        .bao__main-descr-title get the bonus
        .flex
          .bao__main-descr-subtitle Spin the wheel to get #[br] the bonus. Luck is on #[br] your side
          .bao__main-descr-btn.btn Spin the wheel
      .bao__main-wheel
        .bao__main-wheel-wrap
          .bao__main-wheel-arrow.position
          .bao__main-wheel-btn.position.pulse-btn
          .bao__main-wheel-frame
          .bao__main-wheel-reel.position
          .bao__main-wheel-bottom.position
        .bao__main-cat.o
          img(src="img/bao.png" alt="Favbet")
  .bao__overlay.opacity-overlay
    .bao__firstWin.hide
      .bao__firstWin-info
        .bao__firstWin-cat
        .bao__firstWin-title Luck is on your side
        .bao__firstWin-sum +100%
        .bao__firstWin-btn.btn Twist more
    .bao__secondWin.hide
      .bao__secondWin-info
        .bao__secondWin-cat
        .bao__secondWin-title Luck is on your side
        .bao__secondWin-sum +100% and 20 Fs
        a(href="https://www.baocasino.com/").bao__secondWin-btn.btn Get the bonus
